<div class="bottom-navigation">

  <%= link_to contacts_path, class: "bottom-navigation-item" do %>
    <i class="fa-regular fa-user link-dark"></i>
  <% end %>

  <%= link_to companies_path, class: "bottom-navigation-item" do %>
    <i class="fa-regular fa-building link-dark"></i>
  <% end %>

  <%= link_to root_path, class: "bottom-navigation-item" do %>
    <i class="fa-solid fa-house link-dark position-relative">
      <% if current_user && current_user.notification_count > 0 %>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6">
    <%= current_user.notification_count %>
    <span class="visually-hidden">unread messages</span>
  </span>
<% end %>
    </i>
  <% end %>

  <%= link_to todos_path(filter: 'pending'), class: "bottom-navigation-item" do %>
    <i class="fa-regular fa-square-check link-dark"></i>
  <% end %>

  <%= link_to events_path, class: "bottom-navigation-item" do %>
    <i class="fa-regular fa-calendar link-dark"></i>
  <% end %>
</div>
