<div data-controller="navigation">
<nav class="navigation" data-navigation-target="navbar">
  <div class="navigation-item">
    <a href="#" data-action="click->navigation#toggleSearchForm"><i class="fa-solid fa-magnifying-glass"></i></a>
    <!-- Hidden Search Form -->
    <div data-navigation-target="searchForm" class="search-form" style="display: none;">
      <%= form_with url: search_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0', data: { target: "navigation.form", action: "submit->navigation#send" } do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], placeholder: "Search", class: 'form-control mr-sm-2' %>
        </div>
       <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>


<!-- Nav Title -->
  <div class="navigation-item">
    <h2 data-navigation-target="title"><%= @page_title || '' %></h2>
  </div>

  <div class="navigation-item">
    <a href="#" class="add-btn" data-action="click->navigation#toggleMenu">
      <i class="fa-solid fa-plus" data-navigation-target="icon"></i>
    </a>
  </div>
</nav>

<!-- Hidden Add Menu -->
<ul class="add-menu" data-navigation-target="addMenu">
  <div class="add-menu-item"><%= link_to 'Contact +', new_contact_path %></div>
  <div class="add-menu-item"><%= link_to 'Company +', new_company_path %></div>
  <div class="add-menu-item"><%= link_to 'To Do +', new_todo_path %></div>
  <div class="add-menu-item"><%= link_to 'Event +', new_event_path %></div>
</ul>

<!-- Hidden Search Form -->
<%= render 'shared/search_results' %>
</div>
