<div class="container">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :start_date, label: 'Start Date', as: :date, html5: true, input_html: {min: Date.today + 1} %>
    <%= f.input :end_date, label: 'End Date', as: :date, html5: true, input_html: {min: Date.today + 1} %>
    <%= f.association :company, input_html: {data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
    <%= f.association :contacts, collection: @contact_names_collection, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
    <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
