<%= simple_form_for(@contact) do |f| %>

  <div class="form-container">
    <h3>Personal Info</h3>

      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :first_name, label: false, class: "form-control custom-height", id: "floatingInput", placeholder: "First Name" %>
        <%= f.label :first_name %>
      </div>

      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :last_name, label: false, class: "form-control form-control-lg", id: "floatingInput", placeholder: "Last Name" %>
        <%= f.label :last_name %>
      </div>


    <%= f.association :company, input_html: {multiple: false, data: {controller: "tom-select"}}, placeholder: "Company" %>

    <div class="form-floating mb-3 fs-5">
      <%= f.input_field :job_title, label: false, class: "form-control", id: "floatingInput", placeholder: "Job Title" %>
      <%= f.label :job_title %>
    </div>
  </div>

  <div class="form-container">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3>Contact Info</h3>
      <p>
        <a class="btn btn-primary" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseContactDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-chevron-down" data-navigation-target="icon"></i>
        </a>
      </p>
    </div>
    <div class="collapse" id="collapseContactDetails">
      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :linkedin, label: false, class: "form-control", id: "floatingInput", placeholder: "Linkedin" %>
        <%= f.label :linkedin %>
      </div>

      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :email, label: false, class: "form-control", id: "floatingInput", placeholder: "Email" %>
        <%= f.label :email %>
      </div>

      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :phone, label: false, class: "form-control", id: "floatingInput", placeholder: "Phone" %>
        <%= f.label :phone %>
      </div>
    </div>
  </div>

  <div class="form-container">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3>Details</h3>
      <p>
        <a class="btn btn-primary" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-chevron-down" data-navigation-target="icon"></i>
        </a>
      </p>
    </div>

    <div class="collapse" id="collapseDetails">
      <div class="form-floating mb-3 fs-5">
        <%= f.input_field :address, label: false, class: "form-control", id: "floatingInput", placeholder: "Adress" %>
        <%= f.label :address %>
      </div>

        <div class="form-floating mb-3 fs-5">
        <%= f.input_field :country, as: :string, label: false, class: "form-control", id: "floatingInput", placeholder: "Country" %>
        <%= f.label :country %>
      </div>

        <%= f.input :birthday, as: :date, html5: true, input_html: { class: "form-control form-control-lg fs-5" } %>

      <%= f.input :avatar, as: :file, input_html: { class: "form-control form-control-lg fs-5" } %>
    </div>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary mt-2 btn-lg' %>
<% end %>
