<div class="avatar-large shadow-sm">
  <% if @contact.avatar.attached? %>
    <%= cl_image_tag(@contact.avatar.key, transformation: { width: 640, height: 640, crop: "fill", gravity: "faces" }, alt:"contact-avatar", class: "avatar-large") %>
  <% else %>
    <%= image_tag("contact-default-avatar.png" , alt:"contact-avatar", class: "avatar-large") %>
  <% end %>
</div>

<div class="contact-info text-center">
  <h2><%= @contact.first_name if @contact.first_name %> <%= @contact.last_name if @contact.last_name %></h2>
  <h3><%= @contact.company.avatar if @contact.company.avatar %> <%= @contact.company.name if @contact.company.name %></h3>
  <h4><%= @contact.job_title if @contact.job_title %></h4>
</div>

<div class="icons-container flex-row justify-content-center mx-2">
  <% if @contact.linkedin != "" %>
    <a href="<% @contact.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin-in text-primary"></i></a>
  <% end %>

  <% if @contact.email != "" %>
    <a href="mailto:<% @contact.email %>"><i class="fa-regular fa-envelope text-primary"></i></a>
  <% end %>

  <% if @contact.phone != "" %>
    <a href="tel:<% @contact.phone %>"><i class="fa-solid fa-phone text-primary"></i></a>
  <% end %>
</div>
