<div>
  <h1>Contacts#show</h1>
  <h1>Contact Details</h1>
  <div>
    <div>
      <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
      <p><%= @contact.job_title %></p>
    </div>
    <div>
      <a href="<% @contact.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="mailto:<% @contact.email %>"><i class="fa-regular fa-envelope"></i></a>
      <a href="tel:<% @contact.phone %>"><i class="fa-solid fa-phone"></i></a>
    </div>
  </div>

  <div>
    <p>Details</p>
    <div>
      <i class="fa-regular fa-building"></i> <%= @contact.company.name %>
    </div>
    <div>
      <i class="fa-solid fa-location-pin"></i> <%= @contact.country %>, <%= @contact.address %>
    </div>
    <div>
      <i class="fa-solid fa-cake-candles"></i> <%= @contact.birthday %>
    </div>
  </div>
  <div>
    <h3>To Do's</h3>
    <%= render 'todos/todos' %>
  </div>
  <div>
    <h3>Notes</h3>
    <%= render 'notes/notes' %>
  </div>
</div>
