<div>
  <h1>Contacts#show</h1>
  <h1>Contact Details</h1>
  <div>
    <div class="avatar-large">
      <% if @contact.avatar.attached? %>
        <%= cl_image_tag(@contact.avatar.key, alt:"contact-avatar", :class => "avatar-large") %>
      <% else %>
        <%= image_tag("contact-default-avatar.jpeg" , alt:"contact-avatar", :class => "avatar-large") %>
      <% end %>
    </div>
    <div>
      <h2><%= @contact.first_name if @contact.first_name %> <%= @contact.last_name if @contact.last_name %></h2>
      <p><%= @contact.job_title if @contact.job_title %></p>
    </div>
    <div>
      <% if @contact.linkedin != "" %>
        <a href="<% @contact.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin-in link-dark"></i></a>
      <% end %>
      <% if @contact.email != "" %>
        <a href="mailto:<% @contact.email %>"><i class="fa-regular fa-envelope link-dark"></i></a>
      <% end %>
      <% if @contact.phone != "" %>
        <a href="tel:<% @contact.phone %>"><i class="fa-solid fa-phone link-dark"></i></a>
      <% end %>
    </div>
  </div>

  <div>
    <h4>Details</h4>
    <div>
      <i class="fa-regular fa-building"></i> <%= @contact.company.name if @contact.company %>
    </div>
    <div>
      <i class="fa-solid fa-location-pin"></i> <%= @contact.country if @contact.country %><%= ", " if @contact.country != "" && @contact.address != "" %><%= @contact.address if @contact.address %>
    </div>
    <div>
      <i class="fa-solid fa-cake-candles"></i> <%= @contact.birthday if @contact.birthday %>
    </div>
  </div>
  <div data-controller="reset-form">
    <h3>To Do's</h3>
    <p>
      <a class="btn btn-primary" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseTodo" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-plus" data-navigation-target="icon"></i>
      </a>
    </p>
    <div class="collapse" id="collapseTodo">
      <div class="card card-body">
        <%= render 'todos/todo_form' %>
      </div>
    </div>
    <%= turbo_frame_tag :todos_list do %>
      <%= render 'todos/todos', contact: @contact %>
    <% end %>
  </div>
  <div data-controller="reset-form">
    <h3>Notes</h3>
    <p>
      <a class="btn btn-primary" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseNote" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-plus" data-navigation-target="icon"></i>
      </a>
    </p>
    <div class="collapse" id="collapseNote">
      <div class="card card-body">
        <%= render 'notes/add_note' %>
      </div>
    </div>
    <%= turbo_frame_tag :notes_list do %>
    <%= render 'notes/notes', contact: @contact %>
    <% end %>
  </div>
</div>
