<div>
  <h1>Contacts#show</h1>
  <h1>Contact Details</h1>
  <div>
    <div>
      <h2><%= @contact.first_name if @contact.first_name %> <%= @contact.last_name if @contact.last_name %></h2>
      <p><%= @contact.job_title if @contact.job_title %></p>
    </div>
    <div>
      <% if @contact.linkedin != "" %>
        <a href="<% @contact.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <% end %>
      <% if @contact.email != "" %>
        <a href="mailto:<% @contact.email %>"><i class="fa-regular fa-envelope"></i></a>
      <% end %>
      <% if @contact.phone != "" %>
        <a href="tel:<% @contact.phone %>"><i class="fa-solid fa-phone"></i></a>
      <% end %>
    </div>
  </div>

  <div>
    <h4>Details</h4>
    <div>
      <i class="fa-regular fa-building"></i> <%= @contact.company.name if @contact.company %>
    </div>
    <div>
      <i class="fa-solid fa-location-pin"></i> <%= @contact.country if @contact.country %><%= ", " if @contact.country != "" && @contact.address != "" %><%= @contact.address if @contact.address %>
    </div>
    <div>
      <i class="fa-solid fa-cake-candles"></i> <%= @contact.birthday if @contact.birthday %>
    </div>
  </div>
  <div>
    <h3>To Do's</h3>
  </div>
  <div>
    <h3>Notes</h3>
  </div>
</div>
