<div class="avatar-large shadow-sm">
  <% if @company.avatar.key.nil? %>
      <%= image_tag("company-default-avatar.jpeg", alt:"company-avatar", class: "avatar-large") %>
    <% else %>
      <%= cl_image_tag(@company.avatar.key, transformation: { width: 640, height: 640, crop: "fill" }, alt:"company-avatar", class: "avatar-large") %>
  <% end %>
</div>

<div class="company-info text-center">
  <h2><%= @company.name if @company.name %></h2>
  <%= link_to "http://maps.google.com/?q=#{@company.address}" do %>
    <h3><i class="fa-solid fa-location-pin"></i> <%= @company.address if @company.address %></h3>
  <% end %>
</div>

<div class="icons-container flex-row justify-content-center mx-2">
  <% if @company.linkedin != "" %>
    <%= link_to URI::HTTP.build(host: "#{@company.linkedin}").to_s, target: "_blank" do %>
      <i class="fa-brands fa-linkedin-in text-primary"></i>
    <% end %>
  <% end %>

  <% if @company.website != "" %>
    <%= link_to @company.website, target: "_blank" do %>
      <i class="fa-solid fa-globe text-primary"></i>
    <% end %>
  <% end %>

  <% if @company.phone != "" %>
    <%= phone_to @company.phone do %>
      <i class="fa-solid fa-phone text-primary"></i>
    <% end %>
  <% end %>
</div>
