<div class="container">
  <% @companies.each do |company| %>
    <div class="company-card bg-white rounded-3 shadow-sm my-2 py-3 d-flex justify-content-between">
      <%= link_to company do %>
        <div class="company-link-card bg-white d-flex align-items-center">
          <div>
            <% if company.avatar.attached? %>
              <%= cl_image_tag(company.avatar.key, transformation: { width: 640, height: 640, crop: "fill" }, alt:"company-avatar", class: "avatar-small") %>
            <% else %>
              <%= image_tag("company-default-avatar.jpeg" , alt:"company-avatar", class: "avatar-small border") %>
            <% end %>
          </div>
          <div class="company-details ps-2">
            <h3><%= company.name %></h3>
          </div>
        </div>
      <% end %>
      <%= render 'companies/companies_index_icons', company: company %>
    </div>
  <% end %>
</div>
