<%= simple_form_for(@company) do |f| %>

  <div class="form-container bg-white p-4">
    <h3 class="fs-1 mb-4 fw-bold">Company Info</h3>
      <div class="mb-3 fs-6">
        <%= f.label :name, class: 'fs-3' %>
        <%= f.input_field :name, label: false, class: "form-control form-control-lg fs-3", id: "floatingInput" %>
      </div>
  </div>

  <div class="form-container bg-white">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3 class="fs-1 mb-4 fw-bold">Additional Info</h3>
      <p>
        <a class="btn btn-primary  rounded-4" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseCompanyDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-chevron-down" data-navigation-target="icon"></i>
        </a>
      </p>
    </div>
    <div class="collapse" id="collapseCompanyDetails">

      <%= f.input :avatar, as: :file, input_html: { class: "form-control form-control-lg fs-6 pb-3 fs-3" }, label_html: { class: "fs-3" } %>

      <div class="mb-3 fs-6">
        <%= f.label :website, class: 'fs-3' %>
        <%= f.input_field :website, label: false, class: "form-control form-control-lg fs-3", id: "floatingInput" %>
      </div>
      <div class="mb-3 fs-6">
        <%= f.label :phone, class: 'fs-3' %>
        <%= f.input_field :phone, label: false, class: "form-control form-control-lg fs-3", id: "floatingInput" %>
      </div>

      <div class="mb-3 fs-6">
        <%= f.label :address, class: 'fs-3' %>
        <%= f.input_field :address, label: false, class: "form-control form-control-lg fs-3", id: "floatingInput" %>
      </div>
    </div>
  </div>
<%= f.submit 'Submit', class: 'btn btn-primary mt-4 btn-lg rounded-4 fs-4' %>
<% end %>
