<div class="company-container">
  <%= render 'companies/company_lg_avatar' %>
</div>

<div class="contacts-container">
  <h3>Related Contacts</h3>
  <%= render 'companies/company_contacts' %>
</div>

<div class="list-container">
  <div data-controller="reset-form">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3>To Dos</h3>
      <p>
        <a class="btn btn-primary rounded-4 shadow" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseTodo" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-plus" data-navigation-target="icon"></i>
        </a>
      </p>
    </div>
    <div class="collapse" id="collapseTodo">
      <div class="card card-body bg-white rounded-4 shadow">
        <%= render 'todos/todo_form', todo: @todo %>
      </div>
    </div>
    <div class="todo-container rounded-4" style="max-height: 24vh; overflow: scroll;">
      <%= turbo_frame_tag :todos_list do %>
        <%= render 'todos/todos_company', company: @company %>
      <% end %>
    </div>
  </div>

  <div data-controller="reset-form">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h3>Notes</h3>
      <p>
        <a class="btn btn-primary rounded-4 shadow" data-reset-form-target="btn" data-bs-toggle="collapse" href="#collapseNote" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-plus" data-navigation-target="icon"></i>
        </a>
      </p>
    </div>
    <div class="collapse" id="collapseNote">
      <div class="card card-body bg-white rounded-4 shadow">
        <%= render 'notes/add_note' %>
      </div>
    </div>
    <div class="notes-container rounded-4" style="max-height: 24vh; overflow: scroll;">
      <%= turbo_frame_tag :notes_list do %>
        <%= render 'notes/notes_company', company: @company %>
      <% end %>
    </div>
  </div>
</div>
