<li class="list-item card py-2  my-2 rounded-4" style="background: #F5F5FA;">
  <div class="d-flex justify-content-between align-items-center">
    <div class="card-left ps-2 d-flex">
      <div class="card-left-conten pl-2 align-self-center">
        <h4><strong><%= todo.name %></strong></h4>


        <%# Logic to display username and/or company name %>
        <% if todo.todoable_type == "Contact" %>
          <h5>Contact:
            <%= todo.todoable.first_name if todo.todoable.first_name != nil %>
            <%= todo.todoable.last_name if todo.todoable.last_name != nil %>
          </h5>
        <% end %>
        <% if todo.todoable_type == "Company" %>
          <h5>Company: <%= todo.todoable.name if todo.todoable.name != nil %></h5>
        <% end %>

      </div>
    </div>

    <div class="card-left pe-2">
      <div class="checkbox-right-container d-flex flex-column">
        <h4 class="border p-3 rounded-pill bg-white m-0 align-self-center"><%= todo.end_date.strftime("%m/%d") %></h4>
        <div class="checkbox-right d-flex justify-content-end pe-1 pt-1">
          <input class="form-check-input-xl" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </div>


    </div>
  </div>
</li>
