<div class='d-flex justify-content-between align-items-center mb-3 shadow-sm p-4 rounded-1 bg-white'>
<div>
  <h2 class='fw-bold'><%= todo.name %></h2>
      <div class='d-flex flex-column'>
          <% if todo.todoable_type == "Contact" %>
            <h5>Contact:
              <%= todo.todoable.first_name if todo.todoable.first_name != nil %>
              <%= todo.todoable.last_name if todo.todoable.last_name != nil %>
            </h5>
          <% end %>
          <% if todo.todoable_type == "Company" %>
            <h5>Company: <%= todo.todoable.name if todo.todoable.name != nil %></h5>
          <% end %>
        </div>
</div>
<p class='fs-3'><%= todo.end_date.strftime("%m/%d") %></p>
</div>
